/datasets
/data
runs/

# Python / bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter & IPython
.ipynb_checkpoints/
.jupyter/
.jupyter-data/
.ipython/

# IDE / OS
.idea/
.DS_Store
*.swp
*.swo
*~

